.main {
    flex: 1;
    color: #FFF;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.3rem;
}

.gridIcon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridTitle {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 0.3rem;
}

.gridInfo {
    font-size: 0.8rem;
    margin-top: 0.9rem;
}

.yourImc {
    font-size: 1rem;
    margin: 0.6rem 0 3rem 0;
}