* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.anunciosrightSide {
    display: block;
    width: 20%;
}

.main {
    padding-bottom: 3rem;
}

.headerContainer {
    max-width: 56.25rem;
    margin: 2.5rem auto;
}

.container {
    display: flex;
    max-width: 56.25rem;
    margin: auto;
}

.container .leftSide {
    flex: 1;
    margin-right: 2.5rem;
}

.container .leftSide h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #3a4b5c;
}

.container .leftSide p {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    color: #6a7d8b;
}

.container .leftSide input {
    width: 100%;
    border: 0;
    border-bottom: 0.13rem solid rgba(150, 163, 171, .5);
    padding: 0.6rem 0.13rem;
    margin-bottom: 1.3rem;
    font-size: 0.9rem;
    outline: 0;
}

.container .leftSide input:disabled {
    opacity: .5;
}

.container .leftSide button {
    background-color: #227c9d;
    color: #fff;
    font-size: 0.9rem;
    border: 0;
    border-radius: 0.9rem;
    width: 100%;
    cursor: pointer;
    padding: 0.9rem;
    margin-top: 2.5rem;
    transition: all ease .5s;
}

.container .leftSide button:hover { 
    opacity: .8;
}

.container .leftSide button:disabled {
    opacity: .5;
}

.container .rightSide {
    flex: 1;
    margin-right: 2.5rem;
    display: flex;
}

.container .rightSide .grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;
}

.container .rightSide .rightBig {
    flex: 1;
    display: flex;
}

.container .rightSide .rightArrow {
    position: absolute;
    background-color: #227c9d;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: -2.5rem;
    margin-top: 8.5rem;
}

.container .rightSide .rightArrow:hover {
    opacity: .8;
}

@media (max-width: 768px) {
    header {
        padding: 0 1.3rem;
    }

    .container {
        padding: 0 1.3rem;
        flex-direction: column;
    }

    .container .leftSide {
        margin-right: 0;
    }

    .container .rightSide {
        margin-right: 0;
        margin-top: 3rem;
    }

    .container .rightSide .rightArrow {
        margin-left: 0;
        margin-top: 0;
        border-radius: 0.6rem;
    }
}

@media (max-width: 425px) {
    .container .rightSide .grid {
        grid-template-columns: 1fr;
    }
}